openai==1.52.2
crewai==0.41.1
pysqlite3-binary
torch==2.5.0
transformers==4.46.0
crewai-tools==0.4.8
yfinance
nltk==3.9.1
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
sentence-transformers==3.2.1
